In [5]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType, DateType, TimestampType
from pyspark.sql.functions import col, count, when, isnan, when
spark = SparkSession.builder.getOrCreate()

folder_path = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\'

yellow_cab_2009 = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\Yellow Taxi Trip Records 2009-01.csv'

yellow_cab_2013 = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\Yellow Taxi Trip Records 2013-01.csv'

yellow_cab_2016 = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\Yellow Taxi Trip Records 2016-01.csv'

yellow_cab_2021 = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\Yellow Taxi Trip Records 2021-07.csv'

In [10]:
#### Exploring data from (2009) for yellow cab records ####

# Load
yc_df_2009 = spark.read.format('csv').options(header=True).load(yellow_cab_2009)

# Count nulls for each column 
print("Nulls per column:")
yc_df_2009.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in yc_df_2009.columns]).show()

# Total rows 
print(yc_df_2009.count(),"total rows")

# Total cols 
print(len(yc_df_2009.columns) ,"total columns")

# Schema
print("Schema:")
yc_df_2009.printSchema()

Nulls per column:
+-----------+--------------------+---------------------+---------------+-------------+---------+---------+---------+-----------------+-------+-------+------------+--------+---------+--------+-------+---------+---------+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|Trip_Distance|Start_Lon|Start_Lat|Rate_Code|store_and_forward|End_Lon|End_Lat|Payment_Type|Fare_Amt|surcharge| mta_tax|Tip_Amt|Tolls_Amt|Total_Amt|
+-----------+--------------------+---------------------+---------------+-------------+---------+---------+---------+-----------------+-------+-------+------------+--------+---------+--------+-------+---------+---------+
|          0|                   0|                    0|              0|            0|        0|        0| 14092413|         14091189|      0|      0|           0|       0|        0|14092413|      0|        0|        0|
+-----------+--------------------+---------------------+---------------+-------------+---------+---------+---------+-----------------+-------+-------+------------+--------+---------+--------+-------+---------+---------+

14092413 total rows
18 total columns
Schema:
root
 |-- vendor_name: string (nullable = true)
 |-- Trip_Pickup_DateTime: string (nullable = true)
 |-- Trip_Dropoff_DateTime: string (nullable = true)
 |-- Passenger_Count: string (nullable = true)
 |-- Trip_Distance: string (nullable = true)
 |-- Start_Lon: string (nullable = true)
 |-- Start_Lat: string (nullable = true)
 |-- Rate_Code: string (nullable = true)
 |-- store_and_forward: string (nullable = true)
 |-- End_Lon: string (nullable = true)
 |-- End_Lat: string (nullable = true)
 |-- Payment_Type: string (nullable = true)
 |-- Fare_Amt: string (nullable = true)
 |-- surcharge: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- Tip_Amt: string (nullable = true)
 |-- Tolls_Amt: string (nullable = true)
 |-- Total_Amt: string (nullable = true)

In [11]:
#### Exploring data from (2013) for yellow cab records ####

# Load
yc_df_2013 = spark.read.format('csv').options(header=True).load(yellow_cab_2013)

# Count nulls for each column 
print("Nulls per column:")
yc_df_2013.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in yc_df_2013.columns]).show()

# Total rows 
print(yc_df_2013.count(),"total rows")

# Total cols 
print(len(yc_df_2013.columns),"total columns")

# Schema
print("Schema:")
yc_df_2013.printSchema()

Nulls per column:
+---------+---------------+----------------+---------------+-------------+----------------+---------------+---------+------------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|vendor_id|pickup_datetime|dropoff_datetime|passenger_count|trip_distance|pickup_longitude|pickup_latitude|rate_code|store_and_fwd_flag|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|
+---------+---------------+----------------+---------------+-------------+----------------+---------------+---------+------------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|        0|              0|               0|              0|            0|               0|              0|        0|           7326207|               86|              86|           0|          0|        0|      0|         0|           0|           0|
+---------+---------------+----------------+---------------+-------------+----------------+---------------+---------+------------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+

14776615 total rows
18 total columns
Schema:
root
 |-- vendor_id: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- rate_code: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- surcharge: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- total_amount: string (nullable = true)

In [13]:
#### Exploring data from (2016) for yellow cab records ####

# Load
yc_df_2016 = spark.read.format('csv').options(header=True).load(yellow_cab_2016)

# Count nulls for each column 
print("Nulls per column:")
yc_df_2016.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in yc_df_2016.columns]).show()

# Total rows 
print(yc_df_2016.count(),"total rows")

# Total cols 
print(len(yc_df_2016.columns),"total columns")

# Schema
print("Schema:")
yc_df_2016.printSchema()

Nulls per column:
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|pickup_longitude|pickup_latitude|RatecodeID|store_and_fwd_flag|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       0|                   0|                    0|              0|            0|               0|              0|         0|                 0|                0|               0|           0|          0|    0|      0|         0|           0|                    0|           0|
+--------+--------------------+---------------------+---------------+-------------+----------------+---------------+----------+------------------+-----------------+----------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+

10906858 total rows
19 total columns
Schema:
root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)

In [14]:
#### Exploring data from (2021) for yellow cab records ####

# Load
yc_df_2021 = spark.read.format('csv').options(header=True).load(yellow_cab_2021)

# Count nulls for each column 
print("Nulls per column:")
yc_df_2021.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in yc_df_2021.columns]).show()

# Total rows 
print(yc_df_2021.count(),"total rows")

# Total cols 
print(len(yc_df_2021.columns),"total columns")

# Schema
print("Schema:")
yc_df_2021.printSchema()

Nulls per column:
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|  130656|                   0|                    0|         130656|            0|    130656|            130656|           0|           0|      130656|          0|    0|      0|         0|           0|                    0|           0|                   0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+

2821515 total rows
18 total columns
Schema:
root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)