In [5]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType, DateType, TimestampType
from pyspark.sql.functions import col, count, when, isnan, when

In [2]:
spark = SparkSession.builder.getOrCreate()

folder_path = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\'

green_taxi_2013 = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\Green Taxi Trip Records 2013-08.csv'

green_taxi_2015 = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\Green Taxi Trip Records 2015-01.csv'

In [4]:
#### Exploring data from (2013-2015) green taxi records ####

# Load
gtaxiDF_2013 = spark.read.format('csv').options(header=True).load(green_taxi_2013)

# Count nulls for each column 
print("Nulls in column:")
gtaxiDF_2013.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in gtaxiDF_2013.columns]).show()

# Total rows 
print(gtaxiDF_2013.count(),"total rows")

# Total cols 
print(len(gtaxiDF_2013.columns),"total columns")

# Schema
print("Schema:")
gtaxiDF_2013.printSchema()

Nulls in column:
+--------+--------------------+---------------------+------------------+----------+----------------+---------------+-----------------+----------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+------------+------------+----------+
|VendorID|lpep_pickup_datetime|Lpep_dropoff_datetime|Store_and_fwd_flag|RateCodeID|Pickup_longitude|Pickup_latitude|Dropoff_longitude|Dropoff_latitude|Passenger_count|Trip_distance|Fare_amount|Extra|MTA_tax|Tip_amount|Tolls_amount|Ehail_fee|Total_amount|Payment_type|Trip_type |
+--------+--------------------+---------------------+------------------+----------+----------------+---------------+-----------------+----------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+------------+------------+----------+
|       0|                   0|                    0|                 0|         0|               0|              0|                0|               0|              0|            0|          0|    0|      0|         0|           0|     7623|           0|           0|      7623|
+--------+--------------------+---------------------+------------------+----------+----------------+---------------+-----------------+----------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+------------+------------+----------+

7623 total rows
20 total columns
Schema:
root
 |-- VendorID: string (nullable = true)
 |-- lpep_pickup_datetime: string (nullable = true)
 |-- Lpep_dropoff_datetime: string (nullable = true)
 |-- Store_and_fwd_flag: string (nullable = true)
 |-- RateCodeID: string (nullable = true)
 |-- Pickup_longitude: string (nullable = true)
 |-- Pickup_latitude: string (nullable = true)
 |-- Dropoff_longitude: string (nullable = true)
 |-- Dropoff_latitude: string (nullable = true)
 |-- Passenger_count: string (nullable = true)
 |-- Trip_distance: string (nullable = true)
 |-- Fare_amount: string (nullable = true)
 |-- Extra: string (nullable = true)
 |-- MTA_tax: string (nullable = true)
 |-- Tip_amount: string (nullable = true)
 |-- Tolls_amount: string (nullable = true)
 |-- Ehail_fee: string (nullable = true)
 |-- Total_amount: string (nullable = true)
 |-- Payment_type: string (nullable = true)
 |-- Trip_type : string (nullable = true)

In [6]:
#### Exploring data from (2015-2021) green taxi records ####
gtaxiDF_2015 = spark.read.format('csv').options(header=True).load(green_taxi_2015)

# Count nulls for each column 
print("Nulls in columns:")
gtaxiDF_2015.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in gtaxiDF_2015.columns]).show()

# Total rows 
print(gtaxiDF_2015.count(),"total rows")

# Total cols 
print(len(gtaxiDF_2015.columns),"total columns")

# Schema
print("Schema:")
gtaxiDF_2015.printSchema()

Nulls in columns:
+--------+--------------------+---------------------+------------------+----------+----------------+---------------+-----------------+----------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+----------+
|VendorID|lpep_pickup_datetime|Lpep_dropoff_datetime|Store_and_fwd_flag|RateCodeID|Pickup_longitude|Pickup_latitude|Dropoff_longitude|Dropoff_latitude|Passenger_count|Trip_distance|Fare_amount|Extra|MTA_tax|Tip_amount|Tolls_amount|Ehail_fee|improvement_surcharge|Total_amount|Payment_type|Trip_type |
+--------+--------------------+---------------------+------------------+----------+----------------+---------------+-----------------+----------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+----------+
|       0|                   0|                    0|                 0|         0|               0|              0|                0|               0|              0|            0|          0|    0|      0|         0|           0|  1508501|                    0|           0|           0|         5|
+--------+--------------------+---------------------+------------------+----------+----------------+---------------+-----------------+----------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+----------+

1508501 total rows
21 total columns
Schema:
root
 |-- VendorID: string (nullable = true)
 |-- lpep_pickup_datetime: string (nullable = true)
 |-- Lpep_dropoff_datetime: string (nullable = true)
 |-- Store_and_fwd_flag: string (nullable = true)
 |-- RateCodeID: string (nullable = true)
 |-- Pickup_longitude: string (nullable = true)
 |-- Pickup_latitude: string (nullable = true)
 |-- Dropoff_longitude: string (nullable = true)
 |-- Dropoff_latitude: string (nullable = true)
 |-- Passenger_count: string (nullable = true)
 |-- Trip_distance: string (nullable = true)
 |-- Fare_amount: string (nullable = true)
 |-- Extra: string (nullable = true)
 |-- MTA_tax: string (nullable = true)
 |-- Tip_amount: string (nullable = true)
 |-- Tolls_amount: string (nullable = true)
 |-- Ehail_fee: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- Total_amount: string (nullable = true)
 |-- Payment_type: string (nullable = true)
 |-- Trip_type : string (nullable = true)