In [10]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType, DateType, TimestampType
from pyspark.sql.functions import col, count, when, isnan, when

In [4]:
spark = SparkSession.builder.getOrCreate()

folder_path = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\'

for_hire_2015 = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\For-Hire Vehicle Trip Records 2015-01.csv'

for_hire_2017 = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\For-Hire Vehicle Trip Records 2017-01.csv'

for_hire_2018 = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\For-Hire Vehicle Trip Records 2018-01.csv'

for_hire_2019 = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\For-Hire Vehicle Trip Records 2019-01.csv'

for_hire_2020 = 'C:\\Users\\Bob\\Desktop\\SpringBoard\\Python_Projects\\NYC_Taxi_Capstone\\New_York_Taxi_Data\\For-Hire Vehicle Trip Records 2020-01.csv'

In [5]:
#### Exploring data from (2015-2017) for hire records ####

# Load
df2015 = spark.read.format('csv').options(header=True).load(for_hire_2015)

# Count nulls for each column 
print("Nulls in column:")
df2015.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df2015.columns]).show()

# Total rows 
print(df2015.count(),"total rows")

# Total cols 
print(len(df2015.columns),"total columns")

# Schema
print("Schema:")
df2015.printSchema()

Nulls in column:
+--------------------+-----------+----------+
|Dispatching_base_num|Pickup_date|locationID|
+--------------------+-----------+----------+
|                   0|          0|    536455|
+--------------------+-----------+----------+

2746033 total rows
3 total columns
Schema:
root
 |-- Dispatching_base_num: string (nullable = true)
 |-- Pickup_date: string (nullable = true)
 |-- locationID: string (nullable = true)

In [6]:
#### Exploring data from (2017-2018) for hire records ####

# Load
df2017 = spark.read.format('csv').options(header=True).load(for_hire_2017)

# Count nulls for each column
print("Nulls in column:")
df2017.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df2017.columns]).show()

# Total rows 
print(df2017.count(),"total rows")

# Total cols 
print(len(df2017.columns),"total columns")

# Schema
print("Schema:")
df2017.printSchema()

Nulls in column:
+--------------------+---------------+----------------+------------+------------+
|Dispatching_base_num|Pickup_DateTime|DropOff_datetime|PUlocationID|DOlocationID|
+--------------------+---------------+----------------+------------+------------+
|                   0|              0|        13657210|     3704410|    13551199|
+--------------------+---------------+----------------+------------+------------+

13657212 total rows
5 total columns
Schema:
root
 |-- Dispatching_base_num: string (nullable = true)
 |-- Pickup_DateTime: string (nullable = true)
 |-- DropOff_datetime: string (nullable = true)
 |-- PUlocationID: string (nullable = true)
 |-- DOlocationID: string (nullable = true)

In [7]:
#### Exploring data from (2018-2019) for hire records ####

# Load
df2018 = spark.read.format('csv').options(header=True).load(for_hire_2018)

# Count nulls for each column
print("Nulls in column:")
df2018.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df2018.columns]).show()

# Total rows 
print(df2018.count(),"total rows")

# Total cols 
print(len(df2018.columns),"total columns")

# Schema
print("Schema:")
df2018.printSchema()

Nulls in column:
+---------------+----------------+------------+------------+--------+-----------------------+--------------------+
|Pickup_DateTime|DropOff_datetime|PUlocationID|DOlocationID| SR_Flag|Dispatching_base_number|Dispatching_base_num|
+---------------+----------------+------------+------------+--------+-----------------------+--------------------+
|              0|               0|     3569395|     1986916|15483286|                      0|            19808094|
+---------------+----------------+------------+------------+--------+-----------------------+--------------------+

19808094 total rows
7 total columns
Schema:
root
 |-- Pickup_DateTime: string (nullable = true)
 |-- DropOff_datetime: string (nullable = true)
 |-- PUlocationID: string (nullable = true)
 |-- DOlocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Dispatching_base_number: string (nullable = true)
 |-- Dispatching_base_num: string (nullable = true)

In [8]:
#### Exploring data from (2019-2020) for hire records ####

# Load
df2019 = spark.read.format('csv').options(header=True).load(for_hire_2019)

# Count nulls for each column
print("Nulls in column")
df2019.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df2019.columns]).show()

# Total rows 
print(df2018.count(),"total rows")

# Total cols 
print(len(df2019.columns),"total columns")

# Schema
print("Schema:")
df2019.printSchema()

Nulls in column
+--------------------+---------------+----------------+------------+------------+--------+
|dispatching_base_num|pickup_datetime|dropoff_datetime|PULocationID|DOLocationID| SR_Flag|
+--------------------+---------------+----------------+------------+------------+--------+
|                   3|              0|               0|     1818836|      664275|17747181|
+--------------------+---------------+----------------+------------+------------+--------+

19808094 total rows
6 total columns
Schema:
root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [9]:
#### Exploring data from (2020-2021) for hire records ####

# Load
df2020 = spark.read.format('csv').options(header=True).load(for_hire_2020)

# Count nulls for each column
print("Nulls in column:")
df2020.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df2020.columns]).show()

# Total rows 
print(df2020.count(),"total rows")

# Total cols 
print(len(df2020.columns),"total columns")

# Schema
print("Schema:")
df2020.printSchema()

Nulls in column:
+--------------------+---------------+----------------+------------+------------+-------+----------------------+
|dispatching_base_num|pickup_datetime|dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+---------------+----------------+------------+------------+-------+----------------------+
|                   0|              4|               4|       56127|       20788|2028457|                 12722|
+--------------------+---------------+----------------+------------+------------+-------+----------------------+

2028457 total rows
7 total columns
Schema:
root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)